{% extends 'base.html' %}
{% load static %}
<html class="no-js" lang="en">
{% block content %}
	<body>
		<style>
	.single-featured-cars .featured-cars-txt p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
	</style>
	 <div class="top-area">
        <div class="header-area">
            <!-- Start Navigation -->
            <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

                <div class="container">

                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="{% url 'index' %}" style="color: black;">carvilla<span></span></a>

                    </div><!--/.navbar-header-->
                    <!-- End Header Navigation -->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                            <li class=" scroll active"><a href="#home" style="color: #4e4ffa;">home</a></li>
                            <li class="scroll"><a href="#service" style="color: #4e4ffa;">service</a></li>
                            <li class="scroll"><a href="#featured-cars" style="color: #4e4ffa;">featured cars</a></li>
                            <li class="scroll"><a href="#new-cars" style="color: #4e4ffa;">new cars</a></li>
                            <li class="scroll"><a href="#brand" style="color: #4e4ffa;">brands</a></li>
                            <li class="scroll"><a href="#contact" style="color: #4e4ffa;">contact</a></li>
                            <li class="scroll"> <a>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Auth">
                                    {% if request.user.is_authenticated %}
                                        {{ request.user.full_name }}
                                    {% else %}
                                        Авторизация
                                    {% endif %}
                                </button>
                                </a>
                            </li>
                        </ul><!--/.nav -->
                    </div><!-- /.navbar-collapse -->
                </div><!--/.container-->
            </nav><!--/nav-->
            <!-- End Navigation -->
        </div><!--/.header-area-->
     </div>
		<div class="container">
				<div class="row">
					<div class="col-md-12">
						<center>
							<div class="model-search-content">
								<div class="row">
									<form method="get" action=".">
										{{ filter.form.as_p }}
										<button type="submit">Найти</button>
									</form>
								</div>
							</div>
						</center>
					</div>
				</div>
			</div>
     		<!--featured-cars start -->
		<section id="featured-cars" class="featured-cars">
			<div class="container">
				<div class="section-header">
					<p>checkout <span>the</span> featured cars</p>
					<h2>featured cars</h2>
				</div><!--/.section-header-->
				<div class="featured-cars-content">
					<div class="row">
						{% for car in cars %}
							<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="single-featured-cars">
								<div class="featured-img-box">
									<div class="featured-cars-img" style="max-width: 100%;height: auto;">
										<img src="{{ car.preview.url }}" alt="cars" style="max-height: 200px; object-fit: contain;">
									</div>
									<div class="featured-model-info">
										<p>
											Год: {{ car.year_of_release | date:"Y" }}
											<span class="featured-mi-span"> Пробег: {{ car.mileage }} км</span>
											<span class="featured-hp-span">{{ car.engine_volume }}</span>
											 {{ car.get_gearbox_display }}&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
											<span class="featured-hp-span">{{ car.get_rudder_position_display }}</span>
										</p>
									</div>
								</div>
								<div class="featured-cars-txt">
									<h2>
										<a href="{% url 'car_detail' car.slug %}">
											{% for car_brand in car.brands.all %}
												{{ car_brand }}
											{% endfor %}
												{{ car.car_model }}
										</a></h2>
									<h3>${{ car.price }}</h3>
									<p class="truncate-text">
										{{ car.description }}
									</p>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div><!--/.container-->

		</section><!--/.featured-cars-->
		<!--featured-cars end -->
    </body>

{% endblock %}
</html>