{% extends 'base.html' %}
{% load static %}
<html class="no-js" lang="en">
{% block content %}
	<body>
	 <div class="top-area">
        <div class="header-area">
            <!-- Start Navigation -->
            <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

                <div class="container">

                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="{% url 'index' %}" style="color: black;">carvilla<span></span></a>

                    </div><!--/.navbar-header-->
                    <!-- End Header Navigation -->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                            <li class=" scroll active"><a href="#home" style="color: #4e4ffa;">home</a></li>
                            <li class="scroll"><a href="#service" style="color: #4e4ffa;">service</a></li>
                            <li class="scroll"><a href="#featured-cars" style="color: #4e4ffa;">featured cars</a></li>
                            <li class="scroll"><a href="#new-cars" style="color: #4e4ffa;">new cars</a></li>
                            <li class="scroll"><a href="#brand" style="color: #4e4ffa;">brands</a></li>
                            <li class="scroll"><a href="#contact" style="color: #4e4ffa;">contact</a></li>
                            <li class="scroll"> <a>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Auth">
                                    {% if request.user.is_authenticated %}
                                        {{ request.user.full_name }}
                                    {% else %}
                                        Авторизация
                                    {% endif %}
                                </button>
                                </a>
                            </li>
                        </ul><!--/.nav -->
                    </div><!-- /.navbar-collapse -->
                </div><!--/.container-->
            </nav><!--/nav-->
            <!-- End Navigation -->
        </div><!--/.header-area-->
        <div class="clearfix"></div>

    </div><!-- /.top-area-->
        <section id="new-cars" class="new-cars">
			<div class="container">
				<div class="section-header">
                    <p>{{ car.user }}</p>
					<h2>Продажа {% for car_brand in car.brands.all %}  {{ car_brand }} {% endfor %} {{ car.car_model }} {{ car.engine_volume }} {{ car.year_of_release | date:"Y" }}</h2>
				</div><!--/.section-header-->
				<div class="new-cars-content">
					<div class="owl-carousel owl-theme" id="new-cars-carousel">
						<div class="new-cars-item">
							<div class="single-new-cars-item">
								<div class="row">
									<div class="col-md-7 col-sm-12">
										<div class="new-cars-img">
											<img src="{{ car.preview.url }}" alt="img" style="max-height: 500px; object-fit: contain;"/>
										</div><!--/.new-cars-img-->
									</div>
									<div class="col-md-5 col-sm-12">
										<div class="new-cars-txt">
											<h2>
												{% for car_brand in car.brands.all %}
													{{ car_brand }}
												{% endfor %}
													{{ car.car_model }}
<!--                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CarUpdate">-->
<!--                                                    Редактировать-->
<!--                                                </button>-->
											</h2>
											<br>
											<p>
												{{ car.description }}
											</p>
                                            <form method="post" action=".">
                                                {% csrf_token %}
											    <input type="submit" class="form-control" placeholder="Поиск машины..." name="buy">
                                            </form>
										</div><!--/.new-cars-txt-->
									</div><!--/.col-->
								</div><!--/.row-->
							</div><!--/.single-new-cars-item-->
						</div><!--/.new-cars-item-->
					</div><!--/#new-cars-carousel-->
				</div><!--/.new-cars-content-->
			</div><!--/.container-->
		</section><!--/.new-cars-->
{% if car.user.id == request.user.id %}
    <center><form method="post" action="." enctype="multipart/form-data" name="car_update">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Отправить">
    </form></center>
{% endif %}

<!-- Modal -->
<!--<div class="modal fade" id="CarUpdate" tabindex="-1" role="dialog" aria-labelledby="CarUpdateLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="CarUpdateLabel">Modal title</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        ...-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--        <button type="button" class="btn btn-primary">Save changes</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

    </body>
{% endblock %}
</html>